.details {
    text-align: center;
}
.name {
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    letter-spacing: .11em;
    line-height: 1em;
    text-transform: uppercase;
    color: #c7423f;
    
    padding:1%
}

.sub-details {
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.6em;
    padding-bottom:1%
    /* text-transform: uppercase; */
}

#major {
    text-transform: uppercase; 
}

.navname {
  border-left: 6px solid green;
  height: 100%;
  /* padding: 5px */
}


.project {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1.6em;
    text-transform: none;
    color: #070707;
    position: relative;
    overflow: hidden;
    background-color: #f0f2f2;
    border-radius: 25px;
    text-align: left;
    padding: 10px
}
#pict {
    width:"400" ;
     height:"500";
     border-radius:25px
}

.dark-mode {
    background-color:black;
    color: white;
}

.project-dark-mode {
    background-color:rgb(39, 39, 39);
    color: white;
}
.nav-dark-mode{
    /* background-color:rgb(39, 39, 39); */
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

        
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }