.details {
    text-align: center;
}
.name {
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    letter-spacing: .11em;
    line-height: 1em;
    text-transform: uppercase;
    color: #c7423f;
    
    padding:1%
}

.sub-details {
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.6em;
    padding-bottom:1%
    /* text-transform: uppercase; */
}

#major {
    text-transform: uppercase; 
}

#intro, .project {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1.6em;
    text-transform: none;
    color: #070707;
    position: relative;
    overflow: hidden;
    background-color: #f0f2f2;
    border-radius: 25px;
    text-align: left;
    padding: 10px
}
#pict {
    width:"400" ;
     height:"500"
}